.filterPanelContainer {
  .filterPanel {
    display: flex;
    flex-direction: row;
    align-items: center;

    .filterInputs {
      display: flex;
      flex-direction: row;

      .inputContainer {
        width: 80px;
      }

      .nameSearchInputContainer {
        width: 140px;

        .clearIconContainer {
          width: 15px;
          height: 15px;
        }
      }
    }

    .searchButton {
      height: 50px;
    }

    .errorMessage {
      padding-left: 10px;
    }
  }
}
@media screen and (max-width: 840px) {
  .filterPanelContainer {
    position: fixed !important;
    z-index: 1000;
    width: 100%;

    .filterPanel {
      flex-direction: column;

      .filterInputs {
        flex-direction: column;
        width: 100%;

        .inputContainer {
          width: 100%;
        }

        .nameSearchInputContainer {
          width: 100%;
        }
      }

      .searchButton {
        width: 100%;
      }
    }
  }
}
